<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
<style>
    #banner{
        height: 360px;
        width: 100%;
        object-fit: cover;
    }
</style>
</head>
<body>
<div class="container">
    <h1 class="text-enter mt-2 mb-4">{{ company_name }}</h1>
    <img class="img-fluid" id="banner"
         src="{{ url_for('static', filename='background.jpg') }}"
     alt="image">
    <h2 class="text-enter mt-2 mb-4">About hellow</h2>
    <p class="lead">Big text</p>
    <h2 class="text-enter mt-2 mb-4">Open posittions</h2>
    <p>
        {% for job in jobs %}
            {% include 'jobItem.html' %}
        {% endfor %}
    </p>
    <div class="text-center">
        <button class="btn btn-primary btn-lg">Contact us</button>
        <p class="mt-4">Copyright</p>
    </div>
</div>
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

</body>
</html>